{{#if user}}
<script> window.location ='/index';</script>
{{else}}
<div class="row">
    <div >
        <div class="quad_left">

            <img id="logo" src="../../assets/enseja_logo.png" />


        </div>
        <div class="quad_right align-center text-center">
            <h2 class="text_login">Corporative login</h2>
            <a href="/auth/signin"><button type="button" class="btn btn-dark bt_iniciar">Iniciar</button></a>

        </div>

    </div>

</div>
{{/if}}​​​​​
